@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}

#headerDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 2em;
  
}
#logo {
  margin-top: -1.6em;
  margin-left: -60%;
  margin-bottom: -1.7em;
}
#login {
  margin: 1em;
}

#search {
  margin: 1em;
  padding: .5em;
}

#footer{
  position: fixed;
 outline: auto;
  width: 15em;
  text-align: center;
  margin-left: 1em;
}

.navItem {
  color: white;
}

#h3{
  color: black;
}

#padding{
  padding: 3em;
}

.carousel {
  width: 800px;
  margin: auto;
  margin-left: 1em;
}

#imgAbout{
  display: flex;
}

#about1{
  margin: .5em;
}

#mapI{
  margin: 2em;
  margin-top: -.5em;
}

#navbar{
  background-image: url("https://image.shutterstock.com/image-vector/liquid-abstract-shapes-set-isolated-260nw-1933632701.jpg");
  background-position: right;
  background-size: 750px 222px;
  background-repeat: no-repeat;
  margin-bottom: 2em;  
}

#aboutLink{
color: black;
font-size: large;
margin-right: 1em;
}

#homeLink{
  color: black;
  font-size: large;
  margin-left: -10em;
  }

  #about{
    background-color: rgba(4, 129, 129, 0.425);
  }

  #map{
    margin: 0 auto;
  }
  #tectInfo{
    display: flex;
  justify-content: space-evenly;
  }

  #spots {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
  }

  #spotsContainer {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    flex-wrap: wrap;
  }